{% extends "home-movie.html"%}
{% block title %}Edit Directors{% endblock %}
{% block page_content%}


  <div class="container">
    <h1 class="mt-5"><i class="fa fa-film" aria-hidden="true"></i> Edit Director:</h1>
    <form action="/director/edit/{{director.id}}" method="post">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="name" value="{{director.name}}" required="true">
      </div>
      <div class="form-group">
        <label>About</label>
        <textarea class="form-control" name="about" required="true">{{director.about}}</textarea>
      </div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
  </div>

{% endblock%}
