{% extends "home-movie.html"%}
{% block title %}Delete Directors{% endblock %}
{% block page_content%}

  
  <div class="container">
    <h1 class="mt-5"><i class="fa fa-film" aria-hidden="true"></i> Delete Director:</h1>
    <form action="/director/delete/{{director.id}}" method="post">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="name" value="{{director.name}}" required="true" readonly="true">
      </div>
      <div class="form-group">
        <label>About</label>
        <textarea class="form-control" name="about" required="true" readonly="true">{{director.about}}</textarea>
      </div>
      <button type="submit" class="btn btn-danger" id="delete_btn">Delete</button>
    </form>
  </div>

{% endblock%}

{% block scripts%}
  {{super()}}
  <script>
  $(document).ready(function () {
    $('#delete_btn').click(function () {
      if (! confirm('All related movies will be deleted too!! Are you sure?')) {
        return false;
      }
    })
  });
  </script>
{% endblock%}
