{% extends "home-movie.html"%}
{% block title %}Delete Movie{% endblock %}
{% block page_content%}


  <div class="container">
    <h1 class="mt-5"><i class="fa fa-film" aria-hidden="true"></i> Delete the following movie:</h1>
    <form action="/movie/delete/{{movie.id}}" method="post">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="name" value="{{movie.name}}" required="true" readonly="true">
      </div>
      <div class="form-group">
        <label>Year</label>
        <input class="form-control" type="text" name="year" value="{{movie.year}}" readonly="true">
      </div>
      <div class="form-group">
        <label>Director</label>
        <input class="form-control" type="text" name="director" value="{{movie.director.name}}" readonly="true">
      </div>
      <div class="form-group">
        <label>Ratings</label>
        <textarea class="form-control" name="ratings" required="true" readonly="true">{{movie.ratings}}</textarea>
      </div>
      <button type="submit" class="btn btn-danger" id="delete_btn">Delete</button>
    </form>
  </div>

{% endblock%}
{% block scripts%}
  {{super()}}
  <script>
  $(document).ready(function () {
    $('#delete_btn').click(function () {
      if (! confirm('Are you sure?')) {
        return false;
      }
    })
  });
  </script>
{% endblock%}
