body {
  margin     : 0;
  padding    : 0;
  background : #FBF9ED;
}
title {
  font-family: Georgia;
}

h1 {
  font-family: Georgia;
  color      : #F49C6A;
  border:3px solid #F49C6A;
  top: 50px;
  margin: 0 auto;
  font-size  : 5em;
  text-align : center;
}

h2 {
  font-family: Courier;
  text-transform: uppercase;
}
p {
  font-family: Georgia;
}
h3 {
  font-family: Helvetica;
  font-weight    : 200;
}

ul {
  text-align: center;
}
ul li {
color: #B57493;
display: inline;
}

}
}
a{
  color: #F4C7A8;
}
a:link {
  text-decoration: none;
}
#habitat {
  color: white;
  background-image: url("https://s3.amazonaws.com/misy350/bg-tree.jpg");
  background-size: cover;
}

img {

  border-radius:100%;
}
.top-menu{
  text-align: center;
}
.top-menu a{
  background: #F4C7A8;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
}
.top-menu a:hover {
  background: white;
  border: 1px solid white;
  color: #F4C7A8;
}
